<div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-animated-menu">
  <div class="top-bar-left">
    <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
      <li class="menu-text">ACME Corp</li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Services</a></li>
      <li><%= link_to "Products", products_path %></li>
    </ul>
  </div>
</div>
