<div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-animated-menu">
  <div class="top-bar-left">
    <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
      <li class="menu-text">ACME Corp</li>
      <li><a href="#">Products</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Careers</a></li>
    </ul>
  </div>
</div>

<!-- <div class="title-bar" data-responsive-toggle="top-menu">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>
  <div class="top-bar" id="top-menu">
    <div class="top-bar-left">
      <ul class="dropdown vertical medium-horizontal menu">
        <li><a href="#">Monday</a></li>
        <li><a href="#">Tuesday</a></li>
        <li><a href="#">Wednesday</a></li>
        <li><a href="#">Thursday</a></li>
        <li><a href="#">Friday</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown vertical medium-horizontal menu">
        <li><a href="#">january</a></li>
        <li><a href="#">February</a></li>
        <li><a href="#">March</a></li>
        <li><input type="search" placeholder="Search"></li>
      </ul>
    </div>
  </div>
</div> -->